
{% extends "base.html" %}
{% block title %}Create an account{% endblock %}
{% block content %}
    <style>
    .form_f {
  width: 900px;
  margin: 0 auto;
  padding-top: 20px;
}
    </style>
<div class="form_f">
 <h1>Create an account</h1>
 <p>Please, sign up using the following form:</p>
 <form action="." method="post">
 {{ form.user }}
<div class="fieldWrapper">

    <label>Your name:</label>
    {{ form.username }}
</div>
<div class="fieldWrapper">

    <label>Your password:</label>
    {{ form.password1 }}
</div>
<div class="fieldWrapper">

    <label>Repeat your password:</label>
    {{ form.password2 }}
</div>

 {% csrf_token %}
 <p><input type="submit" value="Create my account"></p>
 </form>
{% endblock %}
</div>